@import url('https://fonts.googleapis.com/css2?family=Anton&family=Blinker&display=swap');


#root {
  max-width: 100vw;
  margin: 0 auto;
  /* font-family: 'Anton', sans-serif; */
  font-family: 'Blinker', sans-serif;
  background-color: #1F1F41;
  color: #fff;
}

.container-custom {
  max-width: 1440px;
  margin: 0 auto;
}


.animate-gradient {
  background: linear-gradient(180deg, rgba(77,244,255,1) 0%,rgba(219,255,0,1)  33%, rgba(77,244,255,1) 66%, rgba(219,255,0,1) 100%);
  background-size: 100% 250%;
  background-position-y: top;
  animation: 1s linear 1s infinite running trippy;
}

@keyframes trippy {
    from{
      background-position-y: top;
    }
    to{
      background-position-y: bottom;
    }
}

h1, .heading {
  font-family: 'Anton', sans-serif;
}