@import url('https://fonts.googleapis.com/css2?family=Anton&family=Blinker&display=swap');


#root {
  max-width: 100vw;
  margin: 0 auto;
  /* font-family: 'Anton', sans-serif; */
  font-family: 'Blinker', sans-serif;
  background-color: #1F1F41;
  color: #fff;
}
body {
  overflow-x: hidden;
  background-color: #1F1F41;
}

.container-custom {
  max-width: 1366px;
  margin: 0 auto;
}


.animate-gradient {
  background: linear-gradient(180deg, rgba(77,244,255,1) 0%,rgba(219,255,0,1)  33%, rgba(77,244,255,1) 66%, rgba(219,255,0,1) 100%);
  background-size: 100% 250%;
  background-position-y: top;
  animation: 1s linear 1s infinite running trippy;
}

@keyframes trippy {
    from{
      background-position-y: top;
    }
    to{
      background-position-y: bottom;
    }
}

h1, .heading {
  font-family: 'Anton', sans-serif;
  cursor: default;
}

.first-fold {
  background-image: url(./assets/hero-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.info .info-inner:not(.info .info-inner:nth-of-type(4)) {
  border: 1px solid #fff;
  padding: 15px 0px 15px 0px;
  border-radius: 58px;
  font-size: 28px;
  width: 24%;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
}

.info .info-inner:nth-of-type(2) {
  margin: auto -60px;
}

.info-inner-box {
  width: fit-content;
}

p {
  font-size: 20px;
  cursor: default;
}


.inner-bar {
  width: 60%;
  animation: width-increase 4s ease-in-out infinite alternate;
}

@keyframes width-increase {
  to {
    width: 100%;
  }
}

.bar-pusher {
  animation: pusher 4s ease-in-out infinite alternate;
  animation-delay: 4s;
}

@keyframes pusher {
  to {
    width: calc(100% - 60px)
  }
}

.metal-spining {
  animation-duration: 10s!important;
}



.overlay{
  animation-name: fadin;
  
  animation-duration: 500ms;
}


@keyframes fadin{
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
    }

.skills .skill {
  width: 14.28%;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 100%;
  display: grid;
  align-content: center;
}


/* .background-image {
  background-image: url(./assets/skill-bg.png);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: 429px -105px;
} */
.background-image {
  width: 100%;
  top: -336px;
  left: 199px;
  animation-duration: 90s!important;
  z-index: 0;
}

.project {
  margin-bottom: 80px;
  background-image: url(./assets/project-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 250ms ease-in-out;
  background-position: center center ;
}

.project:hover {
  background-size: 120%;
}

.project-bottom img {
  border-radius: 35px 35px 200px 35px;
  position: relative;
}

.project-bottom {
  position: relative;
}

.project-bottom::before {
  content: '';
  display: block;
  position: absolute;
  width: 150px;
  border-radius: 50px;
  height: 40px;
  background-color: #DBFF00;
  top: -15px;
  left: 25px;
}
.project-go-btn {
  transition: all 100ms linear;
}
.project-link{
  transition: all 100ms linear;
  overflow: hidden;
  cursor: pointer;
}

.project-link:hover .project-go-btn {
  transform: translate(60px);
}

.project-link::before {
  content: '\27F6';
  font-size: 24px;
  position: absolute;
  left: -28px;
  top: 25px;
  transition: all 100ms linear;
}

.project-link:hover:before {
  left: 30px;
}

.project-link:hover ~ .project-bottom:before {
  left: 250px;
}

.game-section {
  background-image: url(./assets/neon-base.png);
}

.connect {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 28px;
  padding-left: 35px;
  flex-wrap: nowrap;
  overflow: hidden;
  transition: width 250ms linear;
}


.connect:hover{
  width: 250px;
}

.footer {
  border-radius: 35px 35px 200px 35px;
}

.menu-items {
  width: 250px;
  background: #1F1F41;
  padding: 15px;
  border-radius: 8px;
}


.menu-items > li:not(li:last-child){
  margin-bottom: 10px;
}
.menu-items > li {
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  transition: all 250ms linear;
}
.menu-items > li a {
  display: block;
}

.menu-items > li:hover {
  background-color: #ffffff65;
}


/* responsive css */

@media not all and (min-width: 768px) {
  .info .info-inner:not(.info .info-inner:nth-of-type(4)) {
    width: 100%;
    margin-bottom: -10px;
  }

  .info .info-inner:nth-of-type(4){
    margin-top: 40px;
  }

  .container-custom {
    padding: 0px 20px;
  }


  .skills .skill {
    width: 140px;
  }

  .background-image {
    width: 500px!important;
    top: 536px;
    left: 10px;
  }

  .project {
    background-size: cover!important;
  }
  
  .project-bottom img {
    border-radius: 25px 25px 100px 25px;
  }

  .connect:hover{
    width: 140px;
  }

}